:root {
  --very-dark-grayish-blue: #48556a;
  --desaturated-dark-blue: #6d7f97;
  --grayish-blue: #9eafc2;
  --light-grayish-blue: #ecf2f8;
  --regular: 500;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grayish-blue);
  padding: 30px 0;
}

.container {
  width: 300px;
}

@media (min-width: 900px) {
  .container {
    width: 800px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 4px 5px 22px 5px rgb(72 85 106 / 20%);
}

.image-box {
  overflow: hidden;
  max-height: 200px;
}

.image-box img {
  width: 100%;
}

@media (min-width: 900px) {
  .card {
    flex-direction: row;
    align-items: unset;
    overflow: visible;
    border-radius: 18px;
  }
  .image-box {
    max-height: fit-content;
    width: 40%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
  }
  .image-box img {
    width: 100%;
    margin-bottom: -10px
  }
}


.content {
  padding: 24px 20px 0;
  background-color: white;
  font-size: 13px;
  line-height: 1.6;
}

.one {
  color: var(--very-dark-grayish-blue);
  font-weight: var(--bold);
}

.two {
  color: var(--desaturated-dark-blue);
  margin: 10px 0 20px;
}

@media (min-width: 900px) {
  .content {
    padding: 44px 34px 0;
    font-size: 16px;
    line-height: 1.6;
    width: 60%;
    position: relative;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  .two {
    margin: 11px 0 6px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 21px;
  background-color: white;
  width: calc(100% + 40px);
  margin-left: -20px;
}

.social *::selection {
  display: none;
}

.social.active {
  background-color: var(--very-dark-grayish-blue);
}


@media (min-width: 900px) {
  .social {
    padding: 14px 34px;
    /* width: calc(100% + 68px); */
    margin-left: -34px;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
}

.info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 11px;
  gap: 10px;
  margin-left: -4px;
}

@media (min-width: 900px) {
  .info {
    font-size: 14px;
    gap: 14px;
  }
}
.info img {
  width: 34px;
}

.info img::selection {
  display: none;
}

.info span:first-of-type {
  display: block;
  font-weight: var(--bold);
  color: var(--very-dark-grayish-blue);
}

.info span:last-of-type {
  color: var(--desaturated-dark-blue);
}

.share-btn {
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 900px) {
  .share-btn {
    aspect-ratio: 1 / 1;
    width: 40px;
  }
}

.share-btn::selection {
  display: none;
}

.social.active .share-btn {
  background-color: var(--desaturated-dark-blue);
}

.share-btn i {
  color: var(--very-dark-grayish-blue);
  margin-right: -1px;
}

.social.active .share-btn i {
  color: var(--light-grayish-blue);
}

/* ---------------------------------------------- */

.links {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--grayish-blue);
  font-size: 14px;
  letter-spacing: 3px;
}

.links::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  border: 10px solid;
  border-color: var(--very-dark-grayish-blue) transparent transparent;
}

.icons {
  color: var(--light-grayish-blue);
  cursor: pointer;
  font-size: 22px;
}

@media (min-width: 900px) {
  .links {
    position: absolute;
    top: -56px;
    background: var(--very-dark-grayish-blue);
    right: 54px;
    transform: translateX(50%);
    justify-content: center;
    gap: 16px;
    font-size: 16px;
    letter-spacing: 3px;
    width: 243px;
    height: 54px;
    box-shadow: 2px 2px 10px 0px rgb(72 85 106 / 70%);
    border-radius: 12px;
  }
  .links::after{
    display: block;
  }
  .icons {
    font-size: 25px;
  }
}